.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1 {
  background-color: #0050b3 ;
}

.item-2 {
  background-color: #ff6060 ;
}

.item-3 {
  background-color: #f5f6f7 ;
}