@import '~antd/dist/antd.css';

.layout {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ol, ul, li,
form, table, article, footer, header, menu, nav, section {
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 70vw;
}
