* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights-slider: 50vh;
  --widths-slider: 100%;

  --background-wrapper: #ebebe8;
  --color-text: #3e3e3e;
  --background-menu: #3e3e3e;
  --menu-link-color: #ff6060;
  --menu-link-active: #ebebe8;
  --dark-grey: #424242;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(assets/font/Montserrat/Montserrat-BoldItalic.ttf) format('truetype');
}

