.dropdown-menu {
  margin-left: -85px;
  top: 80px;
  background: var(--background-menu);
  position: absolute;
  z-index: 100;
  color: var(--white);
  padding: 10px;
  text-align: start;
  opacity: 0.9;
  &__list {
    padding: 0;
    :hover{
      background: var(--menu-link-color);
    }
  }
  &__list-item {
    list-style-type: none;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid var(--menu-link-active);
  }
  &__link {
    text-decoration: none;
    color: var(--white);
  }
}