.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__author-blog {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__author-name {
    margin: 10px 0;
    font-size: 30px;
  }
  &__author-profession {
    font-size: 15px;
    padding-bottom: 10px;
  }
  &__author-about {
    width: 360px;
    text-align: center;
    height: inherit;
    margin: 30px auto;
  }
  &__author-portrait {
    margin-top: 30px;
    width: 100px;
  }
}